@import "variables";
@import "normalize";
@import "animations";
@import "utilities";

.container{
	background: $gray;
	color: #fff;
	padding: 5vw;
	height: 100vh;
	overflow-x: auto;
}

/*Table Styles*/
.table{
	width: 100%;
	thead tr{
		background: $black;
	}
	tr{
		background: $blue;
		.champion-row{
			background: $purple;
		}
	}
	td{
		padding: 10px;
		.adjust{
			padding: 6px 0 8px 15px
		}
	}
}


/*Button*/
.button{
	background: $red;
	border: 3px solid transparent;
	border-radius: 5px;
	padding: 12px 20px;
	display: inline-block;
}
.button:hover,
.button:active,
.button:focus{
	background: transparent;
	border-color: $red;
}


/*Link*/
.link{
  color: $red;
  padding: 0px 0 10px 30px;
  display: block;
}

/*Error and loading*/
.error{
	background: $red;
	font-size: 16px;
	text-align: center;
}
.loading{
  left: calc(50% - 48px);
  position: relative;
  top: 115px;
  animation: spin 4s infinite linear;
}

@media screen and (min-width: 1200px){
	.container{
		padding: 2vw;
	}
	td.adjust{
		padding: 10px 0 10px 33px
	}
}